*{
  margin: 0px;
  padding: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
.container{
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child{
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  padding: 2.5rem;
  margin: 5rem;
  background-color: aliceblue;
  height: 30vh;
  width: 460px;
}
h1{
  margin: 0.5rem;
  
}
#result{
  width : 100%;
}
p{
  margin: 0.5rem;
}

button{
  align-items: center;
  height: 15vh;
  width: 15vh;
  border: 1px solid transparent;
  border-radius: 1vh;
}

.button{
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}
button{
  height: 50px;
  border: 1px solid red;
  border-radius: 15px;
}

#result{
  text-align: center;
}

#reset{

  
}

.btn{
  display: flex;
  justify-content:  center;
 align-items: center;
}